@model ShoppingMVC.Models.AdminData

@{
    ViewData["Title"] = "create";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Success Confirmation Popup</title>
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/site.js"></script>
 <link rel="stylesheet" href="~/css/success.css"/>
<i class="fa-solid fa-user-tie"></i>

<h4 style="align-content:center"  >Admin Login</h4>
<hr />
<div>
            <div id="myModal" class="modal fade">
<div class="modal-dialog modal-confirm">
<div class="modal-content">
<div class="modal-header">
<div class="icon-box">
<i class="material-icons">&#xE876;</i>
</div>
<h4 class="modal-title">Success!</h4>
</div>
<div class="modal-body">
<p class="text-center">You are Successfully Logged In</p>
</div>
<div class="modal-footer">
<button class="btn btn-success btn-block" data-dismiss="modal" >OK</button>
</div>
</div>
</div>
</div>

<div class="row" class="col-md-4">
    <form asp-action="AdminLogin">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a  href="#myModal" class="trigger-btn" data-toggle="modal" type="submit" value="Login"  align="center"  > Login </a>
            </div>
        </form>
        </div>
        </div>
        